@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~quill/dist/quill.snow.css';
@import '~quill/dist/quill.core.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-invalid.ng-touched {
   border: 1px solid red;
}

.alert-error{
    color: red;
}

.container {
  max-width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(230, 237, 244);
}
