<div class="card m-3 shadow" *ngFor="let comment of comments">
    <div class="card-body">
        <p class="card-text fs-5">{{comment.text}}</p>
        <a class="card-link float-end" (click)="toggleReplyForm(comment)">{{ comment.showReply == true ? 'Закрити форму' : 'Відповісти' }}</a>

        <form [formGroup]="form" (ngSubmit)="createReply(comment)" *ngIf="comment.showReply">
            <div class="">
                <label class="form-label">Залиште свій коментар</label>
                <textarea class="form-control" aria-label="With textarea" formControlName="text"></textarea>
                <button type="submit" class="btn btn-primary mt-3" [disabled]="!form.dirty">Залишити коментар</button>
            </div>
        </form>
    </div>
    <app-comment-tree [postId]="postId" [comments]="comment.replies"></app-comment-tree>
</div>