<app-alert></app-alert>

<!-- <nav class="navbar bg-primary">
    <h1>
        <a routerLink="/">Панель адміністратора</a>
    </h1>
    <ul *ngIf="authServise.isAuthenticated()">
        <li routerLinkActive="active">
            <a [routerLink]="['/admin', 'dashboard']">Головна панель</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/admin', 'create']">Створити пост</a>
        </li>
        <li>
            <a href="#" (click)="logout($event)">Вихід з системи</a>
        </li>
    </ul>
</nav> -->

<nav class="nav justify-content-end bg-primary">
    <a class="nav-link link-dark" [routerLink]="['/']">Головна сторінка</a>
    <a class="nav-link link-dark" [routerLink]="['/admin', 'dashboard']">Головна панель</a>
    <a class="nav-link link-dark" [routerLink]="['/admin', 'create']">Створити пост</a>
    <a class="nav-link link-dark" (click)="logout($event)">Вийти з системи</a>
  </nav>

<div class="container">
    <router-outlet></router-outlet>
</div>